# UMUM
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
.vscode/
.idea/
*.suo
*.sw?

# Frontend
/fe/node_modules/
/fe/dist/
/fe/dist-ssr/
/fe/.env
/fe/.env.local
/fe/.env.*.local

# Smart Contract (Foundry)
/sc/cache/
/sc/out/
/sc/docs/
/sc/broadcast/

# Allow lib folder
!/sc/lib/
