# =================================================================
# === ATURAN GLOBAL / UMUM
# =================================================================
# File log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# File sistem & editor
.DS_Store
.vscode/
.idea/
*.suo
*.sw?


# =================================================================
# === ATURAN UNTUK FRONTEND (fe/)
# =================================================================
# Folder dependensi
/fe/node_modules/

# Folder hasil build
/fe/dist/
/fe/dist-ssr/

# File environment
/fe/.env
/fe/.env.local
/fe/.env.*.local


# =================================================================
# === ATURAN UNTUK SMART CONTRACT (sc/)
# =================================================================
# Folder dependensi, cache, dan build
/sc/cache/
/sc/out/
/sc/lib/

# Folder dokumentasi (jika ada)
/sc/docs/

# Folder log dari Foundry/Hardhat
/sc/broadcast/